{% extends "base.html" %} {% block title %}Home{% endblock %}{% block
content %}


<div>

<!--<h1 align="center">Your Dashboard</h1>-->



<h2 style="margin-top:80px; margin-bottom:20px; margin-left: 30px;"> Stocks Trending Today</h2>
    <div style="margin-bottom:40px;">

        <div class="row">

            <div class="col" style="width: 258px;height: 178px;background: #1B2028;box-shadow: 4px 4px 33px rgba(0, 0, 0, 0.05);border-radius: 15px;float: left; margin-left: 30px;margin-right: 10px;  ">

                <div style="display:flex;">
                  <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 23px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Bitcoin</a>
<!--                  <img src="https://www.freeiconspng.com/uploads/green-arrow-png-10.png" width="18" height="18" alt="up light green arrow png" style="margin-top: 23px; margin-left:140px;" />-->
                </div>

                <div class="row">
                    <div class="col">

                         <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 6px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">BTC-USD</a>
                        {% if p1>= l1 %}
                        <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 16px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 21px;line-height: 24px;color: #1ecb4f;display: flex;align-items: center;">{{p1}}</a>
                        {% else %}
                        <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 16px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 21px;line-height: 24px;color: #f46d22;display: flex;align-items: center;">{{p1}}</a>

                        {%endif%}
                    </div>
                    <div class="col">

                        <div id="plotly-stock-candle"></div>

                        <script>
                            //Parse your Json variable here
                            var graphs = {{ g1 | safe }};
                            Plotly.plot('plotly-stock-candle', graphs, {});
                        </script>

                    </div>
                </div>



            </div>

            <div class="col"style="width: 258px;height: 178px;background: #1B2028;box-shadow: 4px 4px 33px rgba(0, 0, 0, 0.05);border-radius: 15px;float: left; margin-left: 30px;margin-right: 10px;  ">
                <div style="display:flex;">
                  <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 23px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Ethereum</a>
<!--                  <img src="https://www.freeiconspng.com/uploads/green-arrow-png-10.png" width="18" height="18" alt="up light green arrow png" style="margin-top: 23px; margin-left:140px;" />-->
                </div>


                <div class="row">
                    <div class="col">

                        <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 6px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Eth-Usd</a>
                        {% if p2>= l2 %}
                        <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 16px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 21px;line-height: 24px;color: #1ecb4f;display: flex;align-items: center;">{{p2}}</a>
                        {% else %}
                        <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 16px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 21px;line-height: 24px;color: #f46d22;display: flex;align-items: center;">{{p2}}</a>

                        {%endif%}


                    </div>
                    <div class="col">

                        <div id="plotly-stock-candle2"></div>

                        <script>
                            //Parse your Json variable here
                            var graphs = {{ g2 | safe }};
                            Plotly.plot('plotly-stock-candle2', graphs, {});
                        </script>

                    </div>
                </div>



            </div>

            <div class="col" style="width: 258px;height: 178px;background: #1B2028;box-shadow: 4px 4px 33px rgba(0, 0, 0, 0.05);border-radius: 15px;float: left; margin-left: 30px;margin-right: 10px;  ">
                <div style="display:flex;">
                  <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 23px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Shell</a>
<!--                  <img src="https://www.freeiconspng.com/uploads/green-arrow-png-10.png" width="18" height="18" alt="up light green arrow png" style="margin-top: 23px; margin-left:140px;" />-->
                </div>

                <div class="row">
                    <div class="col">

                        <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 6px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Shel.L</a>
                        {% if p3>= l3 %}
                        <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 16px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 21px;line-height: 24px;color: #1ecb4f;display: flex;align-items: center;">{{p3}}</a>
                        {% else %}
                        <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 16px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 21px;line-height: 24px;color: #f46d22;display: flex;align-items: center;">{{p3}}</a>
                        {%endif%}
                    </div>
                    <div class="col">

                        <div id="plotly-stock-candle3"></div>

                        <script>
                            //Parse your Json variable here
                            var graphs = {{ g3 | safe }};
                            Plotly.plot('plotly-stock-candle3', graphs, {});
                        </script>

                    </div>
                </div>




            </div>

            <div class="col" style="width: 258px;height: 178px;background: #1B2028;box-shadow: 4px 4px 33px rgba(0, 0, 0, 0.05);border-radius: 15px;float: left; margin-left: 30px;margin-right: 10px;  ">
                <div style="display:flex;">
                          <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 23px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Apple</a>
<!--                          <img src="https://www.freeiconspng.com/uploads/green-arrow-png-10.png" width="18" height="18" alt="up light green arrow png" style="margin-top: 23px; margin-left:140px;" />-->
                        </div>
                <div class="row">
                    <div class="col">

                        <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 6px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Aapl</a>
                        {% if p4>= l4 %}
                        <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 16px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 21px;line-height: 24px;color: #1ecb4f;display: flex;align-items: center;">{{p4}}</a>
                        {% else %}
                        <a style="width: 56px;height: 24px;margin-left: 20px;margin-top: 16px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 21px;line-height: 24px;color: #f46d22;display: flex;align-items: center;">{{p4}}</a>
                        {%endif%}

                    </div>
                    <div class="col">

                        <div id="plotly-stock-candle4"></div>

                        <script>
                            //Parse your Json variable here
                            var graphs = {{ g4 | safe }};
                            Plotly.plot('plotly-stock-candle4', graphs, {});
                        </script>

                    </div>
                </div>
            </div>



        </div>

    </div>

    <div>

        <div class="row">
            <div class="col-4" style="height: 441px;; background: #1B2028;box-shadow: 4px 4px 33px rgba(0, 0, 0, 0.05);border-radius: 15px; margin-left: 30px;margin-right: 65px;overflow-y: scroll">

                <a style="height: 32px;margin-left: 30px;margin-top: 30px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 21px;color: #FFFFFF;display: flex;align-items: center;">My Holdings</a>
                 <a style="margin-left: 275px;font-family: 'Poppins';font-style: normal;font-weight: 180;font-size: 14px;color: #FFFFFF;display: flex;align-items: center;" href="/transactions">Add Holdings ></a>




        <div class="row">

            <div class="col-8">
                {% for a,b,c in zip(sname,buyprice,quant) %}
                {% if c >0 %}
                 <p style="margin-left: 30px;margin-top: 40px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">
                 {{ a }}
                 </p>
                <p style="margin-left: 30px;margin-top: 5px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #FFFFFF;display: flex;align-items: center;opacity: 0.6;">
                    {{ b }}

                </p>
                {%endif%}
                {% endfor %}




            </div>

            <div class="col" id="def">
                {% for a,b in zip(perc,quant) %}
                {%if b>0%}
                    {% if a >= 0 %}
                 <p style="color:#1ecb4f; margin-left: 30px;margin-top: 40px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 14px;line-height: 24px;display: flex;align-items: center;">
                 {{ a }}%
                 </p>
                {%else %}
                <p style="color:#f46d22; margin-left: 30px;margin-top: 40px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 14px;line-height: 24px;display: flex;align-items: center;">
                 {{ a }}%
                 </p>
                {%endif%}
                <p style="margin-left: 30px;margin-top: 5px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #FFFFFF;display: flex;align-items: center;opacity: 0.6;">
                    {{ b }} sh

                </p>
                {%endif%}
                {% endfor %}




            </div>



        </div>


            </div>



            <div class="col-7" style=" height: 441px; background: #1B2028;box-shadow: 4px 4px 33px rgba(0, 0, 0, 0.05);border-radius: 15px;">
                <div class="row">
                    <div class="col-4">
              <a style="margin-left: 30px;margin-top: 30px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 21px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Quick Chart</a>
                    </div>
                    <div class="col">
                        <form method="POST" style="margin-top:25px">

<div class="input-group" style="width:50%; margin:auto">
  <input name ='search', id="search", type="search" class="form-control rounded" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" />
  <button type="search" class="btn"><i class="fas fa-search" style="color:white"></i></button>
</div>
  </form>

                    </div>
                </div>


                <div id="plotly-stock-candle5" style="margin-top:20px"></div>

                        <script>
                            //Parse your Json variable here
                            var graphs = {{ g5 | safe }};
                            Plotly.plot('plotly-stock-candle5', graphs, {});
                        </script>
            </div>
        </div>





    </div>
</div>

<!-- <div style="background-color: black; width: 100%; height: 100%;">-->

<!--          <div style="margin:auto;background-color: lightgrey; width:60%; height: 450px">-->
<!--              <div style="width: 360px;height: 441px; float: left; background: #1B2028;box-shadow: 4px 4px 33px rgba(0, 0, 0, 0.05);border-radius: 15px; margin-left: 30px;margin-right: 20px;overflow-y: scroll">-->

<!--                <a style="width: 133px;height: 32px;margin-left: 30px;margin-top: 30px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 21px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">My Portfolio</a>-->

<!--                <div style="display: flex;">-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 30px;margin-top: 24px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Ethereum</a>-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 200px;margin-top: 24px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">ata</a>-->
<!--                </div>-->

<!--                <div style="display: flex;">-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 30px;margin-top: 5px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #FFFFFF;display: flex;align-items: center;opacity: 0.6;">Ethereum</a>-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 208px;margin-top: 5px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">ata</a>-->
<!--                </div>-->

<!--                <div style="display: flex;">-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 30px;margin-top: 24px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Ethereum</a>-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 200px;margin-top: 24px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">ata</a>-->
<!--                </div>-->
<!--                <div style="display: flex;">-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 30px;margin-top: 5px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #FFFFFF;display: flex;align-items: center;opacity: 0.6;">Ethereum</a>-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 208px;margin-top: 5px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">ata</a>-->
<!--                </div>-->

<!--              </div>-->
<!--              <div style="float: left; width: 720px;height: 441px; background: #1B2028;box-shadow: 4px 4px 33px rgba(0, 0, 0, 0.05);border-radius: 15px;">-->
<!--                <a style="width: 133px;height: 32px;margin-left: 30px;margin-top: 30px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 21px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Chart</a>-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
<!--  </div>-->





<!--<section class="text-center text-lg-start">-->
<!--  <div class="card mb-3">-->
<!--    <div class="row g-0 d-flex align-items-center">-->
<!--      <div class="col-lg-8">-->
<!--        <div class="card-body py-5 px-md-5">-->

<!--          <form method = "POST">-->
<!--            &lt;!&ndash; Email input &ndash;&gt;-->
<!--            <div class="form-outline mb-5">-->
<!--              <div class="row g-0 d-flex align-items-center">-->
<!--                <div class="col-lg-8 d-none d-lg-flex">-->
<!--              <input type="text" id="form2Example1" class="form-control" placeholder ="enter requested stock name here" name="search"/>-->
<!--&lt;!&ndash;              <label class="form-label" for="form2Example1">Search</label>&ndash;&gt;-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary btn-block mb-1">Find</button>-->
<!--                </div>-->
<!--             </div>-->
<!--            &lt;!&ndash; Submit button &ndash;&gt;-->


<!--          </form>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

{% endblock %}









<!--<div style="display: flex;">-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 30px;margin-top: 24px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Ethereum</a>-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 200px;margin-top: 24px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">ata</a>-->
<!--                </div>-->

<!--                <div style="display: flex;">-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 30px;margin-top: 5px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #FFFFFF;display: flex;align-items: center;opacity: 0.6;">Ethereum</a>-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 208px;margin-top: 5px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">ata</a>-->
<!--                </div>-->

<!--                <div style="display: flex;">-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 30px;margin-top: 24px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">Ethereum</a>-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 200px;margin-top: 24px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">ata</a>-->
<!--                </div>-->
<!--                <div style="display: flex;">-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 30px;margin-top: 5px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #FFFFFF;display: flex;align-items: center;opacity: 0.6;">Ethereum</a>-->
<!--                  <a style="width: 78px;height: 24px;margin-left: 208px;margin-top: 5px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;display: flex;align-items: center;">ata</a>-->
<!--                </div>-->