{% extends "base.html" %} {% block title %}Stocks{% endblock %}{% block
content %}


<div>
  <br>
<!--<h1 align="center">Your Dashboard</h1>-->


  <br>

  <form method="POST">

<div class="input-group" style="width:50%; margin:auto">
  <input name ='search', id="search", type="search" class="form-control rounded" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" />
  <button type="search" name="button" value="search" class="btn"><i class="fas fa-search" style="color:white"></i></button>
</div>
  </form>


  <br>
  <br>
  <h3 align="center" >Monitor Stocks</h3>
   <div style="height:2px; color:black; background-color: #fed7fd; width:6%; margin:auto; margin-bottom:55px">

   </div>
<div class="container">
  <div class="row">
    <div class="col">
      <br>
      {% for x in user.search %}
      <p style="color:white ;margin-bottom:1.4rem;margin-top:1.7rem">
      <a type="button"   onClick="deleteNote({{ x.id }})" >
      <i class="fa fa-times" ></i>
      </a>
        </p>
          {%endfor%}

    </div>

    <div class="col" >
      <h5>Stock Name</h5>
      {% for x in user.search %}
      <p style="margin-bottom:1.4rem;margin-top:1.7rem">
      {{ x.name }}
      </p>
      {% endfor %}
    </div>
    <div class="col" id="abc" align="center" >
      <h5>Stock Price</h5>
      {% for a,b  in zip(price, laspri) %}
        {% if a > b %}
          <p style="color:#1ecb4f; margin-bottom:1.4rem;margin-top:1.7rem">

          {{ a }}
          </p>
        {% elif a == b %}
          <p style="color:#1ecb4f;margin-bottom:1.55rem;margin-top:1.7rem">

          {{ a }}
          </p>
        {% else %}
          <p style="color: #f46d22;margin-bottom:1.55rem;margin-top:1.7rem">

          {{ a }}
          </p>
        {% endif %}

      {% endfor %}
    </div>

    <div class="col"  align="right">


      <form method="get">
      {% for x in user.search %}<br>
<a type="submit"  class="btn btn-outline-success my-2" style="width:140px" value = "buy_{{your_list_element}}" href="/transactions">Buy</a>
      {% endfor %}
    </form>
    </div>

    <div class="col"  >
    <form method="get">
      {% for x in user.search %}<br>
<a type="submit" class="btn btn-outline-danger my-2" style="width:140px; color:red!important" value = "sell_{{x.name}}"  href="/transactions">Sell</a>
      {% endfor %}
    </form>

    </div>

<!--    <div class="col">-->

<!--      <div class="d-grid gap-2 d-md-flex justify-content-md-end">-->
<!--  <button class="btn btn-primary me-md-2 mx-1" type="button">Button</button>-->
<!--  <button class="btn btn-primary" type="button">Button</button>-->
<!--</div>-->
<!--    </div>-->

  </div>
</div>
</div>





<!--<section class="text-center text-lg-start">-->
<!--  <div class="card mb-3">-->
<!--    <div class="row g-0 d-flex align-items-center">-->
<!--      <div class="col-lg-8">-->
<!--        <div class="card-body py-5 px-md-5">-->

<!--          <form method = "POST">-->
<!--            &lt;!&ndash; Email input &ndash;&gt;-->
<!--            <div class="form-outline mb-5">-->
<!--              <div class="row g-0 d-flex align-items-center">-->
<!--                <div class="col-lg-8 d-none d-lg-flex">-->
<!--              <input type="text" id="form2Example1" class="form-control" placeholder ="enter requested stock name here" name="search"/>-->
<!--&lt;!&ndash;              <label class="form-label" for="form2Example1">Search</label>&ndash;&gt;-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary btn-block mb-1">Find</button>-->
<!--                </div>-->
<!--             </div>-->
<!--            &lt;!&ndash; Submit button &ndash;&gt;-->


<!--          </form>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

{% endblock %}